<div *ngIf="errorMessage$ | async as errorMessage; else dontExistError">
    <app-chat-verification
        [selectedFriend]="selectedFriend"
        [errorMessage]="errorMessage"
    ></app-chat-verification>
</div>
<ng-template #dontExistError>
    <app-chat-messages *ngIf="chat$ | async as chat; else loading"
        [chat]="chat"
        [currentUser]="currentUser"
        [selectedFriend]="selectedFriend"
    ></app-chat-messages>
    <ng-template #loading>
        <div class="loader-content">
            <div
                class="
                loader
                ease-linear
                rounded-full
                border-8 border-t-8 border-gray-200
                "
            ></div>
        </div>
    </ng-template>
</ng-template>