.auth-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 65fr 35fr;
    grid-template-rows: 100fr;
}

.auth-column-1 {
    background-color: rgb(24, 102, 167);
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-area {
        margin-top: 20px;
        display: flex;
        align-items: center;

        img {
            width: 90px;
            height: 90px;
            -webkit-user-drag: none;
        }
        .title-area {
            h3 {
                font-size: 2em;
                margin-left: 7px;
                color: #fff;
                font-family: 'Raleway', sans-serif;
                user-select: none;
            }
        }
    }
    .content-area {
        margin-top: 10rem;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        align-self: flex-end;
        margin-right: 5rem;

        img {
            width: 256px;
            height: 256px;
            margin-top: 4rem;
            -webkit-user-drag: none;
        }
        .description-area{
            text-align: right;
            h3 {
                font-size: 1.4em;
                margin-left: 7px;
                color: #fff;
                width: 30vw;
                font-family: 'Raleway', sans-serif;
            }
        }
    }
}

.auth-column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: -14rem;
}