<div class="menu">
    <div class="logo-area">
        <img src="assets/icons/world.png" />
    </div>

    <div class="menu-items">
        <div class="upside-items">
            <div class="item">
                <i class="fas fa-comment-alt"></i>
            </div>
            <div class="item">
                <i class="fas fa-user-plus"></i>
            </div>
        </div>
        <div class="downside-items">
            <div class="item">
                <i class="fas fa-cog"></i>
            </div>
            <div class="profile">
                <img class="img" src="{{ user?.profile_pic ? user.profile_pic : 'assets/icons/user.png' }}" />
            </div>
        </div>
    </div>
</div>